<%- include ( "partials/header"); -%>
<div class="container mt-5 sessions">
	<div class="row">
		<div class="col-sm-12 mt-5 section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<img src="imgs/adults.png" class="responsive-img">
					</div>
					<div class="col-sm-8">
						<h1 class="heading-color">Adults</h1>
						<h4 class="heading-text">6+ years</h4>
						<p> Demonstrate ability to swim 25 yards independently. Demonstrate competency in freestyle and backstroke. 
						Attend a minimum of three practices each week.  Participate in a minimum of four swim meets during the season.  
						Objectives: Increase competency in freestyle and backstroke. Acquire skills in breaststroke and butterfly.  
						Increase competency in basic swim team skills. </h4>
						<h4 class="heading-text">Why All Adults Should Know How to Swim?</h4>											
						<ul>
							<li><b>Body Health:</b> Swimming is one of the most recommended sports for adults. At least 30 minutes in the pool, 
							<li><b>Mental Health:</b> Plus a balanced meal, and an active lifestyle can have huge benefits on your overall health. </li>							
							<li><b>Friends & Family:</b> In a country like Canada where water-related activities are so popular, not knowing how to swim or being uncomfortable around water, can affect 
							your social interactions and you might miss some really fun activities.</li>
							<li><b>Life-Saving Skill:</b> Knowing how to swim and feeling comfortable around water will greatly reduce the risk of drowning. By learning basic skills like floating, water-treading, 
							and breathing, you will be able to help yourself and others in case of accidentally falling into the water. </li>
							<li><b>Door to Other Water Sports:</b> Most water sports require a basic knowledge of swimming. By learning how to swim,
							you will discover all the possibilities this new skill will open for you. Why not try out stand-up paddle boarding or train for a triathlon? You could also enjoy 
							the thrills of water skiing, canoeing, rafting, and more surface water sports. And if you feel super comfortable in the water, 
							there are lots of very fun underwater sports like snorkelling, scuba diving, underwater hockey, or mermaiding.</li>
						</ul>
						<div id="book-now">									
							<a class="btn" href="memberportal">
								<span>Book Now</span>
							 </a>									
						</div>
					</div>
				</div>
			</div>
		</div>							
	</div>
</div>
<%- include ( "partials/footer"); -%>