<%- include ( "partials/header"); -%>
<div class="container mt-5 sessions">
	<div class="row">
		<div class="col-sm-12 mt-5 section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<img src="imgs/holiday2.png" class="responsive-img">
					</div>
					<div class="col-sm-8">
						<h1 class="heading-color">Holiday Sesssions</h1>
						<p> This swim camp is offered to boys and girls ages 6 - 12.  Each participant must be able to swim 25 yards (1 length of pool)  
						The instructors are experienced Red Cross Lifeguards. They will provide unique and fun activities in and out of the pool. 
						Participants will learn how to play safely as a team in and around water as well as having tons of fun! 
						This is not a swim lesson, it is recreation only.</p>
						<h4 class="heading-text">The benefits of holiday intensive swimming lessons for kids?</h4>
						<ul>
							<li>LIncreased swim confidence as a result of better recall and repetition.</li>
							<li>Improved swim strokes as a result of daily practice.</li>
							<li>Improved muscle memory of swim skills due to repetition.</li>
							<li>Faster progression of swim ability as skills are built on daily.</li>
							<li>Boosts enjoyment in swimming.</li>
							<li>Great introduction to swimming for all ages if they haven’t had swimming lessons previously.</li>
						</ul>
						<div id="book-now">									
							<a class="btn" href="newbooking">
								<span>Book Now</span>
							 </a>									
						</div>
					</div>
				</div>
			</div>
		</div>							
	</div>
</div>
<%- include ( "partials/footer"); -%>