<%- include ( "partials/header"); -%>				
<div class="parallax">			
	<img src="imgs/main.jpg" alt="Nature" class="responsive" width="600" height="400">		
</div>
<div class="booking-btn container mt-5 text-center">
	<a class="btn" href="newbooking">
		<span>Book a Starter Session ></span>
	</a>
</div>
<div id="introduction" class="container mt-5">
	<div class="row">
		<div class="col-sm-4">			
			<h3 class="heading-color">Why Swim?</h3>			
			<p>As well as being fun, swimming is a great way to keep fit and make friends.
			Swimming is a healthy activity that you can continue for a lifetime.<p>
			<p>Swimming is a low-impact activity that has many physical and mental health benefits.
			Make sure you know how to swim and do so in a safe environment.</p>
			<p>It is a healthy activity that you can continue for a lifetime. 
			It is a low-impact activity that has many physical and mental health benefits.</p>
		</div>
		<div class="col-sm-4">
			<h3 class="heading-color">Swimming Health Benefits</h3>
			<p>Swimming keeps your heart rate up but takes some of the impact stress off your body.</p>
			<p>Builds endurance, muscle strength and cardiovascular fitness.</p>
			<p>Helps you maintain a healthy weight, healthy heart and lungs.</p>			
			<p>Provides an all-over body workout, as nearly all of your muscles are used during swimming.</p>
		</div>
		<div class="col-sm-4">
			<h3 class="heading-color">Why choose us?</h3> 
			<p>We aim to give you the best services while keeping things simple and enjoyable, and as a result we're recognised as one of the best swimming learing schools.</p>
			<p>We take our work very seriously, but we don't take ourselves too seriously.</p> 
			<p>We love doing what we do, and you'll enjoy working with us.  Our teams are small and agile, 
			when you work with us you'll feel like part of the family. And we care.</p>
		</div>
	</div>
</div>
<div id="gallery" class="container mt-5">	
	<div class="row">		
		<h1 class="heading-color text-center">Our Gallery</h1>
		<p class="heading-text text-center">Make swimming a part of your lifestyle</p>		
		<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<img src="imgs/kids.png" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water"/>
			<img src="imgs/todler.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape"/>
		</div>
		<div class="col-lg-4 mb-4 mb-lg-0">
			<img src="imgs/adults1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds"/>
			<img src="imgs/todler3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water"/>
		</div>
		<div class="col-lg-4 mb-4 mb-lg-0">
			<img src="imgs/kids1.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea"/>
			<img src="imgs/kids3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park"/>
		</div>
	</div>			
</div>	
<div id="contact-us" class="container mt-5">
	<div class="row contact-form">		
		<h1 class="heading-color text-center">Contact Us</h1>
		<p class="heading-text text-center">Swing by for a cup of coffee, or leave us a message:</p>						
		<div class="col-sm-6">
			<form action="/contactus" method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate required">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="label" for="name">Full Name</label>
							<input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="label" for="email">Email Address</label>
							<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="subject">Subject</label>
							<input type="text" class="form-control valid" name="subject" id="subject" placeholder="Subject" aria-invalid="false" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="label" for="#">Message</label>
							<textarea name="message" class="form-control valid" id="message" cols="30" rows="4" placeholder="Message" aria-invalid="false" required></textarea><label id="message-error" class="error" for="message" style="display: none;"></label>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" value="Send Message" class="contact btn">
						<div class="submitting"></div>
						</div>
					</div>
				</div>
			</form>		
		</div>
		<div class="col-sm-6">
			<iframe class="location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8364823724655!2d144.6592924!3d-37.81729889999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad68e8c0c324e9b%3A0x22b5aeab8f237783!2s18%20Dixie%20St%2C%20Tarneit%20VIC%203029!5e0!3m2!1sen!2sau!4v1670997754330!5m2!1sen!2sau" 
			width="660" height="535" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</div>
	<div class="row contact-info">
		<div class="col-md-4">
			<div class="dbox w-100 text-center">
				<div class="icon d-flex align-items-center justify-content-center">
					<span class="fa fa-map-marker"></span>
				</div>
				<div class="text">
					<p><span>Address:</span><a href="https://goo.gl/maps/wvLrjHb3ch3jW1iE8">18 Dixie Street, Tarneit, Melbourne</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox w-100 text-center">
				<div class="icon d-flex align-items-center justify-content-center">
					<span class="fa fa-phone"></span>
				</div>
				<div class="text">
					<p><span>Phone:</span> <a href="tel://02040208468">+64 2040208468</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox w-100 text-center">
				<div class="icon d-flex align-items-center justify-content-center">
					<span class="fa fa-paper-plane"></span>
				</div>
				<div class="text">
					<p><span>Email:</span> <a href="mailto:rajvirkaur1592@gmail.com">rajvirkaur1592@gmail.com</a></p>
				</div>
			</div>
		</div>		
	</div>
</div>	
<div id="about-us" class="container mt-5">
	<div class="row">		
	</div>
</div>
<%- include ( "partials/footer"); -%>