<%- include ( "partials/header"); -%>
<div class="container mt-5 sessions">
	<div class="row">
		<div class="col-sm-12 mt-5 section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<img src="imgs/kids22.png" class="responsive-img">
					</div>
					<div class="col-sm-8">
						<h1 class="heading-color">Kids</h1>
						<h4 class="heading-text">Preschool: 3-5 years (no exceptions)</h4>
						<p> Increase knowledge of water safety & practices. Provide an opportunity for water adjustment 
						& swimming readiness skills.  Use play as a basic form of learning and provide fun & enjoyment 
						in the water. Encourage participant socialization. </p>
						<h4 class="heading-text">Why your child should learn to swim?</h4>
						<p>Swimming is lots of fun for people of all ages and children especially love getting in the water and enjoying themselves.</p>
						<p>But it is not just fun, swimming also provides loads of health benefits which can help to keep your children healthy and happy at the same time:</p>					
						<ul>
							<li>Swimming keeps your child’s heart and lungs healthy, improves strength and flexibility, increases stamina and even improves 
							balance and posture.</li>							
						</ul>
						<p>Another great thing about swimming is that children of any age or ability can take part and it is more accessible for children with additional needs
						than almost any other sport.</p>
						<ul>
							<li>Swimming provides challenges and rewards accomplishments, which helps children to become self-confident and believe in their abilities.</li>
							<li>Your child will have plenty of opportunities to make friends and grow in confidence.</li>
						</ul>
						<div id="book-now">									
							<a class="btn" href="newbooking">
								<span>Book Now</span>
							 </a>									
						</div>
					</div>
				</div>
			</div>
		</div>							
	</div>
</div>
<%- include ( "partials/footer"); -%>