<%- include ( "partials/header2"); -%>				
<div class="container mt-5">
	<div class="row">	
		<div class="heading2">
			<h1>Welcome "<%=name%>"</h1>		
		</div>
		<div d="book-now" class="col-sm-8">													
			<a class="btn newbooking" href="newbooking">
				<span>Start your new Booking here -></span>
			 </a>			
		</div>				
	</div>
</div>
	
