<%- include ( "partials/header"); -%>
<div class="container mt-5 sessions">
	<div class="row">
		<div class="col-sm-12 mt-5 section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<img src="imgs/private.png" class="responsive-img">
					</div>
					<div class="col-sm-8">
						<h1 class="heading-color">Private Swim sessions</h1>
						<p> Learning objectives are based upon the needs and abilities of the participant and shall be decided upon with the instructor. 
						Participant may choose to include one additional student of a similar level.</p>
						<h4 class="heading-text">How a instrutor can help you in swimming?</h4>
						<p>A swim instructor teaches people of various ages how to swim and helps them develop their swimming techniques. If you want to
						become a swim instructor, it's important to know how to write a concise resume that highlights your strongest qualifications. 
						Learning how to do this ensures you present prospective employers with a quality and professional resume. In this article, 
						we list what to include in a swim instructor resume, explain how to write a swim instructor and include a resume template and example for reference.</p>
						<div id="book-now">									
							<a class="btn" href="memberportal">
								<span>Book Now</span>
							 </a>									
						</div>
					</div>
				</div>
			</div>
		</div>							
	</div>
</div>
<%- include ( "partials/footer"); -%>