<%- include ( "partials/header"); -%>
<div class="container mt-5 sessions">
	<div class="row">
		<div class="col-sm-12 mt-5 section">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<img src="imgs/todlers2.png" alt="todlers2" class="responsive-img">
					</div>
					<div class="col-sm-8">
						<h1 class="heading-color">Infants/Todlers</h1>
						<h4 class="heading-text">6 months – 36 months</h4>
						<p>Increase knowledge of water safety & practices.  Provide an opportunity 
						for water adjustment & swimming readiness skills. Use play as a basic form of learning 
						and provide fun & enjoyment in the water. Encourage participant socialization. Provide 
						parental involvement in the learning process and reinforce the parent’s role in the child’s
						learning of skills.</p>
						<h4 class="heading-text">Why is swimming important for toddlers?</h4>						
						<ul>
							<li>Lessons provide your kids with confidence, which is great for self-esteem.</li>
							<li>Your child will learn about water safety in and around water.</li>
							<li>Swimming is a great way to exercise.</li>
							<li>Earlier development of physical skills including hand-eye coordination and muscle tone.</li>
							<li>Enhances social and personal skills.</li>
						</ul>
						<div id="book-now">									
							<a class="btn" href="newbooking">
								<span>Book Now</span>
							 </a>									
						</div>
					</div>
				</div>
			</div>
		</div>							
	</div>
</div>
<%- include ( "partials/footer"); -%>